/*CSS for entire website*/
body {
    background-color: black;
    font-family: 'Gugi', cursive;
    color: white;
    margin: 0;
    padding: 0;
}

/*All styling for header on each page*/
.headerBackground {
    width: 100%;
    height: 100%;
    float: top;
}

.header h1 {
    display: inline;
    font-size: 1000%;
}

.tagline {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 150%;
    margin-top: 0;
    padding-top: 0;
}

.header {
    max-width: 100%;
    top: 0;
    width: auto;
    margin: 0;
    display: inline;
    position: absolute;
    margin-top: 19%;
    left: 25%;
    right: 25%;
}

.logo {
    margin-right: 2.5em;
}

/*Styling for navigation bar*/
.nav {
    position: absolute;
    width: auto;
    padding-top: 1.5em;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 140%;
}

.nav a:hover {
    color: white;
}

.navigationBar {
    width: 100%;
}

.navigationBar li {
    display: inline;
    margin-left: 10em;
    font-size: x-large;

}

/*Styling for login section*/
.loginSection {
    width: 16%;
    float: right;
    border: 2px solid white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 1em;
}

.loginSection fieldset {
    margin: 1em;
}

.loginRegister {
    width: 100%;
}

#reg {
    margin-left: 50%;
}

#log {
    margin-left: 5%;
}

#reg, #log {
    margin-top: 1em;
}

fieldset {
    border: none;
}

/*Styling for content of login and register tabs*/
.tabContent {
    text-align: right;
}

/*Login/register submission button styling*/
button, .newusersubmission, .loginsubmission {
    background-color: darkgray;
    color: black;
    border: 2px solid white;
    font-family: 'Gugi', cursive;
    font-size: medium;
    padding: 3%;
    margin: 1%;
}

/*Additional styling when hovering over buttons*/
button:hover, .newusersubmission:hover, .loginsubmission:hover {
    background-color: white;
    color: black;
}

/*Each individual input style*/
#user, #password, #newpass, #newuser, #email {
    width: 70%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#newpass {
    margin-bottom: 2em;
}

#passwordList {
    list-style-type: none;
}

/*Main CSS*/
.forumDirectory {
    padding-left: 3em;
    padding-top: 2em;
}

/*Footer CSS*/
.footer {
    position: relative;
    width: 100%;
    background-color: #1e1e1e;
    display: inline-block;
    margin-top: 3em;
}

.socialMedia {
    padding-left: 2em;
    width: 200px;
    padding-bottom: 2em;
}

.socialMedia p {
    padding-top: 1em;
}

.footer img {
    width: 50px;
    height: 50px;
}

.footer ul {
    list-style: none;
}

.footer a, .footerLinks {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: gray;
}

a:visited {
    text-decoration: none;
}

.footerLinks, .contactLinks, .socialMedia, #policy {
    display: inline-block;
}

.footerLinks, .contactLinks {
    float: right;
    right: 0;
    padding-right: 2em;
    margin-top: 2em;
    text-align: right;
}

.contactLinks {
    margin-top: 7em;
}

.footerLinks {
    border-left: 1px solid white;
    
}

.loginSection a:visited {
    text-decoration: none;
}

p {
    text-decoration: none;
}

.loginSection fieldset a {
    text-decoration: none;
    color: white;
}

table, th, td {
    border: 1px solid white;
}

.loginSection fieldset a:hover {
    color: darkgray;
}