/*CSS for entire website*/
body {
    background-color: black;
    font-family: 'Gugi', cursive;
    color: white;
    margin: 0;
    padding: 0;
}

/*All styling for header on each page*/
.headerBackground {
    width: 100%;
    height: 100%;
    float: top;
    opacity: 1;
    margin-bottom: 0;
}

.header h1 {
    display: inline;
    font-size: 1000%;
}

.tagline {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 150%;
    margin-top: 0;
    padding-top: 0;
}

.header {
    max-width: 100%;
    top: 0;
    width: auto;
    margin: 0;
    display: inline;
    position: absolute;
    margin-top: 19%;
    left: 25%;
    right: 25%;
}

.logo {
    margin-right: 2.5em;
}

/*Styling for navigation bar*/
.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 7%;
    background-color: rgba(0, 0, 0, 0.5);
}


.nav a {
    text-decoration: none;
    color: white;
    font-size: 140%;
}

.nav a:hover {
    color: grey;
}

.navigationBar {
    width: 100%;
}

.navigationBar li {
    display: inline-block;
    margin-left: 10em;
    font-size: x-large;
}

.newsFade img {
    width: 100%;
}

.newsSlideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.newsFade {
    display: none;
}

#fade1 {
    display: block;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: large;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.main h1 {
    font-size: 300%;
    padding-left: 2em;
    padding-bottom: 0.5em;
}

/*Styling for login section*/
.loginSection {
    width: 16%;
    float: right;
    border: 2px solid white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 3em;
}

.loginSection fieldset {
    margin: 1em;
}

.loginRegister {
    width: 100%;
}

#reg {
    margin-left: 50%;
}

#log {
    margin-left: 5%;
}

#reg, #log {
    margin-top: 1em;
}

fieldset {
    border: none;
}

/*Styling for content of login and register tabs*/
.tabContent {
    text-align: right;
}

/*Login/register submission button styling*/
button, .newusersubmission, .loginsubmission {
    background-color: darkgray;
    color: black;
    border: 2px solid white;
    font-family: 'Gugi', cursive;
    font-size: medium;
    padding: 3%;
    margin: 1%;
}

/*Additional styling when hovering over buttons*/
button:hover, .newusersubmission:hover, .loginsubmission:hover {
    background-color: white;
    color: black;
}

/*Each individual input style*/
#user, #password, #newpass, #newuser, #email {
    width: 70%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#newpass {
    margin-bottom: 2em;
}

#passwordList {
    list-style-type: none;
}

/*Main CSS*/
.forumDirectory {
    padding-left: 3em;
    padding-top: 2em;
}

.microblog {
    width: 85%;
}

.blogs {
    width: 90%;
    background-color: #1e1e1e;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
}

.blogposts {
    border-top-style: dashed;
    border-right-style: solid;
    border-bottom-style: dashed;
    border-left-style: solid;
    border-width: 5px;
    border-left-color: #6699ff;
    background-color: #cceeff;
    width: 25%;
    color: black;
}

.blogposts:after {
    content:"\a\a";
}

.trend {
    text-align: center;
    position: relative;
    width: 100%;
}

.trend img {
    display: block;
    width: 100%;
}

.overlay {
  display: inline-block;
  top: 0;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1e1e1e;
}

.trend:hover .overlay {
  opacity: 1;
}

.overlayText {
  color: white;
  font-size: 20px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.contactForm {
    border: solid 1px white;
    padding: 1em;
}

#query {
    width: 25em;
    padding-bottom: 5em;
}

#loginrequest {
    padding-left: 10em;
}

.cForm {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

/*Footer CSS*/
.footer {
    position: relative;
    width: 100%;
    background-color: #1e1e1e;
    display: inline-block;
    margin-top: 3em;
}

.socialMedia {
    padding-left: 2em;
    width: 200px;
    padding-bottom: 2em;
}

.socialMedia p {
    padding-top: 1em;
}

.footer img {
    width: 50px;
    height: 50px;
}

.footer ul {
    list-style: none;
}

.footer a, .footerLinks {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: gray;
}

a:visited {
    text-decoration: none;
}

.footerLinks, .contactLinks, .socialMedia, #policy {
    display: inline-block;
}

.footerLinks, .contactLinks {
    float: right;
    right: 0;
    padding-right: 2em;
    margin-top: 2em;
    text-align: right;
}

.contactLinks {
    margin-top: 7em;
}

.footerLinks {
    border-left: 1px solid white;

}

.loginSection a:visited {
    text-decoration: none;
}

p {
    text-decoration: none;
}

.loginSection fieldset a {
    text-decoration: none;
    color: white;
}

table, th, td {
    border: 1px solid white;
}

.loginSection fieldset a:hover {
    color: darkgray;
}